/* Right  ==================================>>>>>>>>>>>>>>>>>>>>> */

.home-right {
    position: sticky;
    top: 50px;
    height: 520px;
    flex: 2.5;
    overflow: hidden;
    padding-bottom: 10px;
  }
  
  .home-right:hover {
    overflow-y: scroll;
  }
  
  /* width */
  .home-right::-webkit-scrollbar {
    width: 0.5px;
  }
  
  /* Track */
  
  .home-right::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .home-right::-webkit-scrollbar-track:hover {
    background-color: rgba(197, 197, 197, 0.213);
  }
  
  .home-right-one {
    margin: 15px 20px 5px 0;
    padding-bottom: 10px;
    border-bottom: 1.5px solid rgb(207, 207, 207);
  }
  
  .home-right-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
  }
  
  .home-right-text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: large;
    color: rgb(108, 108, 108);
  }
  
  .home-right-edit {
    color: #197fec;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
  .home-right-edit:hover {
    background-color: rgba(218, 218, 226, 0.519);
    border-radius: 5px;
    transition-duration: 0.1s;
  }
  
  .home-right-one .friend-request-block {
    padding: 8px 5px 8px 5px;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  
  .home-right-one .friend-request-block:hover {
    background-color: rgba(163, 163, 172, 0.156);
    border-radius: 10px;
    transition-duration: 0.1s;
  }
  
  .home-right-one .friend-request-avartar {
    margin: 5px 10px 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.235);
    border-radius: 50px;
    width: 55px;
    height: 55px;
    overflow: hidden;
  }
  
  .home-right-one .friend-request-avartar img {
    width: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .home-right-one .friend-request-name-date {
    display: flex;
    justify-content: space-between;
  }
  
  .home-right-one .friend-request-name {
    font-size: 15.5px;
    font-weight: 600;
  }
  
  .home-right-one .friend-request-date {
    font-size: 14.5px;
    color: grey;
  }
  
  .home-right-one .friend-request-same-one {
    display: flex;
  }
  
  .home-right-one .friend-request-same-one img {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 3px solid white;
  }
  
  .home-right-one .img-one {
    z-index: 99;
  }
  
  .home-right-one .img-two {
    margin-left: -8px;
  }
  
  .home-right-one .same-one-text {
    font-size: 13.5px;
    color: grey;
    margin-top: 5px;
  }
  
  .home-right-one .friend-request-accept-reject {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .home-right-one .accept,
  .home-right-one .reject {
    width: 90px;
    padding: 10px 5px 10px 5px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
  }
  
  .home-right-one .accept {
    background-color: #1b74e4;
    color: white;
    margin-right: 5px;
  }
  
  .home-right-one .reject {
    background-color: #d7d9df;
  }
  
  .home-right-one .reject:hover {
    background-color: #cbccd1;
  }
  
  /* home two */
  
  .home-right-two {
    margin: 10px 20px 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid rgb(207, 207, 207);
  }
  
  .home-right-two .birthday-container {
    cursor: pointer;
    padding: 10px 0px 10px 0px;
    display: flex;
    transition-duration: 0.5s;
    font-size: 15.5px;
  }
  
  .home-right-two .birthday-container:hover {
    background-color: rgba(163, 163, 172, 0.156);
    border-radius: 10px;
    transition-duration: 0.1s;
  }
  
  .birthday-container span {
    font-weight: 600;
  }
  
  .home-right-two .birthday-container-gift img {
    width: 45px;
    height: 30px;
  }
  
  /* home three */
  
  .home-right-three {
    margin: 5px 20px 15px 0;
    padding-bottom: 20px;
    border-bottom: 1.5px solid rgb(207, 207, 207);
  }
  
  .home-right-title {
    display: flex;
    justify-content: space-between;
  }
  
  .home-right-icon {
    display: flex;
    justify-content: space-evenly;
  }
  
  .home-right-small-icon {
    padding: 5px 6.5px 0 6.5px;
    border-radius: 100%;
    margin-left: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
  .home-right-small-icon:hover {
    transition-duration: 0.1s;
    background-color: rgba(163, 163, 172, 0.212);
  }
  
  .home-right-small-icon .dot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    height: 30%;
    padding: 0 4px 0 4px;
  }
  
  .home-right-small-icon img {
    width: 27px;
  }
  
  .home-right-small-icon i {
    padding: 0 6px 0 6px;
  }
  
  .home-right-user {
    display: flex;
    align-items: center;
    padding: 9px 19px 9px 5px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
  .home-right-user:hover {
    background-color: rgba(218, 218, 226, 0.519);
    transition-duration: 0.1s;
  }
  
  .home-right-user:active {
    background-color: rgba(191, 190, 196, 0.682);
  }
  
  .home-right-avatar-container {
    display: flex;
  }
  
  .home-right-avatar-circle i {
    font-size: 8px;
    border: 2px solid white;
    border-radius: 100%;
    color: #31a24c;
    margin-left: -12px;
    margin-top: 22px;
  }
  
  .home-right-avatar {
    margin-right: 2px;
  }
  
  .home-right-avatar img {
    border-radius: 50px;
    width: 32px;
  }
  
  .home-right-name {
    padding-left: 9px;
    font-weight: 500;
    font-size: 15.5px;
  }
  
  .home-right-show-more {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    background-color: #d6d8de94;
    padding-bottom: 5px;
    border-radius: 100%;
  }
  
  .home-right-show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }
  
  @media only screen and (max-width: 1000px) {
    .home-right {
      display: none;
    }
  }
  